[{:itonami.blueprint/social-impact [:operational-efficiency :worker-safety :data-integrity]
  :itonami.blueprint/domain :mining/metallurgy
  :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :audit-ledger]
  :itonami.blueprint/isco-08 "3117"
  :itonami.blueprint/name "Mining and Metallurgical Technicians"
  :itonami.blueprint/governor :mining-metallurgy-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-3117"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
